@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-50: "#E1E8EF",
        --color-primary-100: "#D4DEE7",
        --color-primary-200: "#B7C7D7",
        --color-primary-300: "#99B0C7",
        --color-primary-400: "#7C99B6",
        --color-primary-500: "#5E82A6",
        --color-primary-600: "#4C6B8A",
        --color-primary-700: "#3C546C",
        --color-primary-800: "#2C3D4F",
        --color-primary-900: "#1B2631",
        --color-primary-950: "#141C24",

        --color-accent-50: "#FAF5F0",
        --color-accent-100: "#F4ECE1",
        --color-accent-200: "#E8D6BF",
        --color-accent-300: "#DDC2A2",
        --color-accent-400: "#D2AF84",
        --color-accent-500: "#C69963",
        --color-accent-600: "#B78343",
        --color-accent-700: "#926835",
        --color-accent-800: "#6C4D28",
        --color-accent-900: "#4B351B",
        --color-accent-950: "#382814",
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

label {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@layer components {
    .btn {
        @apply bg-accent-500 px-5 py-3 text-primary-800 font-semibold hover:bg-accent-600 text-center flex items-center justify-center transition-all disabled:cursor-not-allowed
    }

    .input {
        @apply px-5 py-3 text-primary-950 focus:text-primary-50 text-lg bg-primary-300 outline-none focus:bg-primary-500 w-full shadow-sm
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid theme("colors.primary.200");
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
        -webkit-animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}